button {
  margin-top: 40px;
  float: right;
}

mat-icon {
  cursor: pointer;
  margin-left: 10px;
}

mat-icon:hover {
  color: #ff4081;
}

a {
  text-decoration: none;
  color: black;
}

.note-link {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.note-link:hover {
  background-color: #ddd;
}
