button {
  /*margin-top: 15px;*/
  /*float: right;*/
  /*margin-right: 15px;*/
  /*margin-bottom: 50px;*/
  position: absolute;
  right: 45px;
  bottom: 45px;
}

.delete-button:hover {
  color: #ff4081;
}

mat-icon {
  cursor: pointer;
}

button:hover {
  color: #3f51b5;
}

a {
  text-decoration: none;
  color: black;
}

.note-link {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.note-link:hover {
  background-color: #ddd;
}
