a, img {
  height: 90%;
  width: auto;
}

h1 {
  margin: auto .5em;
}

.title {
  font-weight: 400;
  font-family: 'Fira Code', monospace;
}

.userImage {
  height: 3rem;
  width: auto;
  margin: auto 1rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  font-size: 16px;
}

p {
  margin-right: 15px;
}


@media (max-width: 660px) {
  .welcome {
    display: none;
  }
}

@media (max-width: 450px) {
  .title {
    display: none;
  }
}
