a, img {
  height: 90%;
  width: auto;
}

.userImage {
  height: 3rem;
  width: auto;
  margin: auto 1rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  font-size: 16px;
}

p {
  margin-right: 15px;
}
