form {
  display: grid;
  margin-top: 8px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". title"
                       "note note";
}

.note {
  grid-area: note;
  border: none;
  overflow: scroll !important;
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  padding: 15px;
  height: calc(100vh - 154px);
}

.title {
  grid-area: title;
  overflow: scroll;
}

@media (max-width: 600px) {
  form {
    display: grid;
    margin-top: 0;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 50px 1fr;
    grid-template-areas: ". title"
    "note note";
    text-align: right;
  }
}
