<button mat-raised-button (click)="auth.signOut()">sign out</button>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
<p>maintext works!</p>
